body{
  background-color: #f1f5f8;
}

.margin-container{
  margin-top: 100px;
}

.color-menu{
  color: #fff !important;
}

.logo-menu{
  width: 100;
}

.responsive {
  width: 200px;
  height: auto;
}

.foto-principal{
  width: 70%;
  height: auto;
}

.contenedor-icon-linkedin{
  font-size: 30px;
}

.contenedor-icon-linkedin:hover{
  color: black;
}

.contenedor-icon-gitHub{
  font-size: 30px;
  color: black;
}

.img-proyecto{
  width: 100%;
}